absl-py==2.1.0
accelerate==1.6.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
certifi==2025.1.31
charset-normalizer==3.4.1
classy-vision==0.7.0
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
diffusers==0.33.0.dev0
docker-pycreds==0.4.0
einops==0.8.1
filelock==3.17.0
fonttools==4.56.0
fsspec==2025.2.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
gitdb==4.0.12
GitPython==3.1.44
grpcio==1.70.0
huggingface-hub==0.29.3
hydra-core==1.3.2
idna==3.10
importlib_metadata==8.6.1
iopath==0.1.10
Jinja2==3.1.5
kagglehub==0.3.10
kiwisolver==1.4.8
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.3
omegaconf==2.3.0
packaging==24.2
pandas==2.2.3
peft==0.15.1
pillow==11.1.0
pip==25.0.1
platformdirs==4.3.7
portalocker==3.1.1
protobuf==5.29.4
psutil==7.0.0
pydantic==2.11.1
pydantic_core==2.33.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scipy==1.15.2
sentry-sdk==2.25.0
setproctitle==1.3.5
setuptools==75.8.2
six==1.17.0
smmap==5.0.2
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.0.1
tokenizers==0.21.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
transformers==4.49.0
typing_extensions==4.12.2
typing-inspection==0.4.0
tzdata==2025.2
urllib3==2.3.0
wandb==0.19.9
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
yacs==0.1.8
zipp==3.21.0
